* {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    border-bottom: 2px solid black;
}

main {
    margin: 0 -1%;
}