/******************************************/
/*                 Setup                  */
/******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************/
/*              Base Layout               */
/******************************************/

body {
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.logo {
  font-size: 1.8em;
  font-weight: 800;
}

.centered {
  text-align: center;
}

.leftFloat, .indecisiveFloat {
  float: left;
  margin-right: 25px;
}

.floatRight {
  float: right;
}

.separateAdd {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  width: 100%;
}

/******************************************/
/*                Buttons                 */
/******************************************/

.btn{
     color: #ffffff;
     border-color: #357ebd;
     padding-left: 40px;
     padding-right: 40px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 4px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
}

.blueButton {
   background-color: #428bca;
   padding-top: 6px;
   padding-bottom: 6px;
   margin-top: 5px;
}

.orangeButton {
   background-color: #e09408;
   padding-top: 16px;
   padding-bottom: 16px;
}

.grayButton {
  color: #000000;
  background-color: #d3d3d3;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

/******************************************/
/*                 Header                 */
/******************************************/

header {
  background: #7c745e;
  padding: 25px 0;
  overflow: hidden;
}

header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
  display: block;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 1em;
}
header a, footer a {
  color: #f9e42e;
}

/******************************************/
/*                Section                 */
/******************************************/

section {
  padding: 25px 0;
}
section p {
  margin: 5px 0 35px 0;
  font-size: .9em;
}

section h1 {
  font-size: 1.5em;
  margin: 5px 0;
}

/******************************************/
/*                Article                 */
/******************************************/

article {
  width: 400px;
  float: left;
  height: 500px;
  background: white;
  border: 1px black solid;
  margin-bottom: 50px;
}

.amplifier {
  float: left;
  margin-left: 5%;
}

.speaker {
  float: right;
  margin-right: 5%;
}

.imgPlaceHolder {
  width: 90%;
  height: 350px;
  border: 1px black solid;
  margin-left: 5%;
  background-color: gray;
}

h3 {
  margin: 10px 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 6px 0;
  font-size: .8em;
}

select {
  margin-top: 15px;
  width: 80%;
  margin-left: 10%;
}

/******************************************/
/*                 Footer                 */
/******************************************/

footer {
  background: black;
  margin-top: 20px;
}

footer p {
  margin: 0;
  padding: 25px 0;
  color: white;
  font-size: .8em;
}

/******************************************/
/*           Breakpoint: 1024px           */
/******************************************/

@media only screen and (max-width: 1024px) {
  /****************Section*****************/
  article {
    width: 350px;
    height: 400px;
  }

  .amplifier {
    margin-left: 0;
  }

  .speaker {
    margin-right: 0;
  }

  /*****************Article****************/
  .imgPlaceHolder {
    height: 250px;
  }

  .btn{
    padding-left: 30px;
    padding-right: 30px;
  }
}

/******************************************/
/*           Breakpoint: 845px            */
/******************************************/

@media only screen and (max-width: 845px) {
  /***************Base Layout**************/
  .container {
    padding: 0 30px;
  }

  /****************Section*****************/
  section p {
    font-size: .8em;
    margin-bottom: 25px;
  }

  article {
    width: 100%;
  }

  .amplifier, .speaker {
    float: none;
    display: block;
  }

  .amplifier {
    margin-bottom: 25px;
  }

  /******************h2********************/
  h2 {
    font-size: 1.4em;
    margin: 15px 0;
  }

  /*****************Button*****************/
  .orangeButton {
    float: none;
    display: block;
    margin-top: 25px;
    Clear: both;
    width: 50%;
    margin-left: 25%;
  }

  .blueButton {
    width: 200px;
  }

  .indecisiveFloat {
    float: right;
  }

  .example:after { /* to be replaced with JS */
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 100%;
  }
}

/******************************************/
/*           Breakpoint: 640px            */
/******************************************/

@media only screen and (max-width: 640px) {
  /***************Base Layout**************/
  .container {
    padding: 0 5px;
  }

  .logo {
    display: block;
  }

  header nav {
    float: none;
  }

  .grayButton {
    padding: 15px 0;
    width: 60%;
  }

  .orangeButton {
    padding: 15px 0;
    width: 100%;
    margin-left: 0;
  }
  .blueButton {
    width: 170px;
    margin: 0;
    font-size: .6em;
    padding: 15px 0;
  }
}
