* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.row{
 margin: 0 -1% 1%;
}

.col-1, .col-2, 
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11, .col-12{
    margin: 0 1%;
    float: left;
}

.col-1{
    width: calc(1 * (100% - 2% * (12/1))/12);
}

.col-2{
    width: calc(2 * (100% - 2% * (12/2))/12);
}

.col-3{
    width: calc(3 * (100% - 2% * (12/3))/12);
}

.col-4{
    width: calc(4 * (100% - 2% * (12/4))/12);
}

.col-5{
    width: calc(5 * (100% - 2% * (12/5))/12);
}

.col-6{
    width: calc(6 * (100% - 2% * (12/6))/12);
}

.col-7{
    width: calc(7 * (100% - 2% * (12/7))/12);
}

.col-8{
    width: calc(8 * (100% - 2% * (12/8))/12);
}

.col-9{
    width: calc(9 * (100% - 2% * (12/9))/12);
}

.col-10{
    width: calc(10 * (100% - 2% * (12/10))/12);
}

.col-11{
    width: calc(11 * (100% - 2% * (12/11))/12);
}

.col-12{
    width: calc(12 * (100% - 2% * (12/12))/12);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/*for testing and various layouts*/
.placeholder{
    background-color: #eee;
    border: 1px solid #ccc;
    height: 50px;
}

.tall{
    height: 300px;
}

.short{
    height: 25px;
}

nav{
    padding-top: 12px;
}

.magazine .col-4{
   height: 170px;
}

