* {
    box-sizing: border-box;
}

.clearfix:after{
    clear: both;
    content: '';
    display: block;
}

header,
nav a,
.hamburger,
.hero,
.col-3,
footer,
.col-4 {
    border: 2px solid black;
}

header,
.container {
    padding: 10px;
}

nav {
    float: left;
}

header a{
    display: block;
    float: left;
    height: 50px;
    width: 100px;
    margin-right: 5px;
}

.hamburger {
    height: 50px;
    width: 65px;
    float: right;
    padding: 0 15px;
    display: none;
}

.line {
    height: 2px;
    background: #000;
    margin-top: 10px;
}

.hero {
    height: 150px;
}

.col-3 {
    float: left;
    height: 125px;
    width: calc(85% / 4);
    margin: 10px 5% 10px 0;
}

.col-3:last-child{
    margin-right: 0;
}

footer {
    padding: 15px;
}

.col-4 {
    height: 125px;
    float: left;
    width: 30%;
    margin-right: 5%;
}

.col-4:last-child {
    margin-right: 0;
}

