.heart_ace{
    background-position: -0px -0px;
}

.heart_2{
    background-position: -114px -0px;
}

.heart_3{
    background-position: -228px -0px;
}

.heart_4{
    background-position: -342px -0px;
}

.heart_5{
    background-position: -456px -0px;
}

.heart_6{
    background-position: -570px -0px;
}

.heart_7{
    background-position: -684px -0px;
}

.heart_8{
    background-position: -798px -0px;
}

.heart_9{
    background-position: -912px -0px;
}

.heart_10{
    background-position: -1026px -0px;
}

.heart_J{
    background-position: -1140px -0px;
}

.heart_Q{
    background-position: -1254px -0px;
}

.heart_K{
    background-position: -1368px -0px;
}

.spade_ace{
    background-position: -0px -156px;
}

.spade_2{
    background-position: -114px -156px;
}

.spade_3{
    background-position: -228px -156px;
}

.spade_4{
    background-position: -342px -156px;
}

.spade_5{
    background-position: -456px -156px;
}

.spade_6{
    background-position: -570px -156px;
}

.spade_7{
    background-position: -684px -156px;
}

.spade_8{
    background-position: -798px -156px;
}

.spade_9{
    background-position: -912px -156px;
}

.spade_10{
    background-position: -1026px -156px;
}

.spade_J{
    background-position: -1140px -156px;
}

.spade_Q{
    background-position: -1254px -156px;
}

.spade_K{
    background-position: -1368px -156px;
}

.diamond_ace{
    background-position: -0px -312px;
}

.diamond_2{
    background-position: -114px -312px;
}

.diamond_3{
    background-position: -228px -312px;
}

.diamond_4{
    background-position: -342px -312px;
}

.diamond_5{
    background-position: -456px -312px;
}

.diamond_6{
    background-position: -570px -312px;
}

.diamond_7{
    background-position: -684px -312px;
}

.diamond_8{
    background-position: -798px -312px;
}

.diamond_9{
    background-position: -912px -312px;
}

.diamond_10{
    background-position: -1026px -312px;
}

.diamond_J{
    background-position: -1140px -312px;
}

.diamond_Q{
    background-position: -1254px -312px;
}

.diamond_K{
    background-position: -1368px -312px;
}

.club_ace{
    background-position: -0px -468px;
}

.club_2{
    background-position: -114px -468px;
}

.club_3{
    background-position: -228px -468px;
}

.club_4{
    background-position: -342px -468px;
}

.club_5{
    background-position: -456px -468px;
}

.club_6{
    background-position: -570px -468px;
}

.club_7{
    background-position: -684px -468px;
}

.club_8{
    background-position: -798px -468px;
}

.club_9{
    background-position: -912px -468px;
}

.club_10{
    background-position: -1026px -468px;
}

.club_J{
    background-position: -1140px -468px;
}

.club_Q{
    background-position: -1254px -468px;
}

.club_K{
    background-position: -1368px -468px;
}
